

//---------------------------------     FONTS       ----------------------------------
$font--dancing : 'Dancing Script', cursive;
$font--lato: 'Lato', sans-serif;
$font--playfair: 'Playfair Display', serif;

//---------------------------------     COLORS      -----------------------------------
:root{
    --color--primary--blue: #2685f9;
}
