.big-button{
    display: block;
    width: max-content;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    text-align: center;
    border: 2px solid #e1e8f4;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
}

.button{
    display: block;
    width: max-content;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    text-align: center;
    border: 2px solid #e1e8f4;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
}